@import 'open-props/postcss/style';
@import 'open-props/postcss/normalize';

:root {
	/* Colors */
	--black: #000;
	--dark-gray: #303030;
	--white: #ffffff;

	--overlay: rgba(0, 0, 0, 0.4);

	--font-family: 'Inter', sans-serif;
}

html {
	font-family: var(--font-family);
	position: relative;
}

body {
	width: 100%;
}

.bold {
	font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}

/* Typography */
.body {
	font-size: 12px;
	line-height: 22px;
	font-weight: regular;
}

.text-100 {
	font-style: normal;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 3px;
}

.text-200 {
	font-style: normal;
	font-size: 18px;
	line-height: 28px;
}

.text-300 {
	font-style: normal;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.text-400 {
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
}

.text-500 {
	font-size: 56px;
	line-height: 68px;
}

.text-600 {
	font-size: 100px;
	line-height: 100px;
	letter-spacing: -2.5px;
}

.weight-regular {
	font-weight: 400;
}

@media (min-width: 425px) {
	.body {
		font-size: 18px;
		line-height: 28px;
		font-weight: regular;
	}

	.text-600 {
		font-size: 175px;
		line-height: 175px;
		letter-spacing: -2.5px;
	}
}

@media (min-width: 768px) {
	.text-600 {
		font-size: 200px;
		line-height: 200px;
		letter-spacing: -2.5px;
	}
}
